<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

<h1>Студент <span data-th-text="${student.getName()}"></span></h1>
<a class="type-name-label" data-th-href="@{/students}">Вернутьсяк списку</a>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Имя</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td data-th-text="${student.getId()}">

        </td>
        <td data-th-text="${student.getName()}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>